<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>stumble notifier</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <h1>Students</h1>
  <div id="student-id">
    <button id="s1" onclick="location.href='./one.html'">STUDENT 001</button>
    <button id="s2">STUDENT 002</button>
    <button id="s3">STUDENT 003</button>
    </br>
    <button id="s4">STUDENT 004</button>
    <button id="s5">STUDENT 005</button>
    <button id="s6">STUDENT 006</button>
  </div>
  <script src="/public/js/index.js"></script>
</body>
</html>
