
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>stumble notifier</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <h1>STUDENT 001 on 10:00</h1>
  <code>
    <pre>
  function setup() {
    createCanvas(400, 400);
    background(220);
    noLoop();
  }

  function draw() {
    fill('red');
    circle(width/2, height/2, 120);
  }
    </pre>
  </code>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js" integrity="sha512-NxocnqsXP3zm0Xb42zqVMvjQIktKEpTIbCXXyhBPxqGZHqhcOXHs4pXI/GoZ8lE+2NJONRifuBpi9DxC58L0Lw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/public/js/sketch.js"></script>
</body>
</html>
