{% extends 'base.html' %}
{% block content %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../static/js/fetcher.js"></script>
  <h1>Stumble Notifier</h1>
    <table>
      <thead>
        <tr>
          <td>Student ID</td>
          <td>Code</td>
          <td>Multi</td>
        </tr>
      </thead>
      <tbody>
      {% for id in ids %} 
      <tr>
        <td id="{{ id }}"><a href="student/{{ id }}">{{ id }}</a></td>
        <td id="{{ id }}-code"></td>
        <td id="{{ id }}-multi"></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endblock %}
