{% extends 'base.html' %}
{% block content %}
  <script src="../static/js/fetcher.js"></script>
  <h1>Students</h1>
    <table>
      <thead>
        <tr>
          <td>Student ID</td>
          <td>State (Code) </td>
          <td>State (Multi) </td>
        </tr>
      </thead>
      <tbody>
      {% for id in ids %} 
      <tr>
        <td id="{{ id }}"><a href="student/{{ id }}">{{ id }}</a></td>
        <td> {{ code_pred[loop.index0] }}</td>
        <td> {{ multi_pred[loop.index0] }}</td>
        <br/>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endblock %}
