<!DOCTYPE html>
<html lang="ja">
<head>
  <title>stumble notifier</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <h1>STUDENT 001</h1>
  <div id="data">
    <table>
      <thead>
        <tr>
          <td>Executed at</td>
          <td>Source Line of Code</td>
          <td>AST Edit Distance</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td onclick="location.href='./source.html'">10:00</td>
          <td>9</td>
          <td>2</td>
        </tr>
        <tr>
          <td onclick="location.href='./source.html'">10:05</td>
          <td>14</td>
          <td>2</td>
        </tr>
        <tr>
          <td onclick="location.href='./source.html'">10:10</td>
          <td>15</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
