{% extends 'base.html' %}
{% block content %}
  <h1 class="text-4xl text-center py-4 font-bold">STUDENT on {{ time }}</h1>
  <code>
    <pre id='code'>{{ code }}</pre>
  </code>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js" integrity="sha512-NxocnqsXP3zm0Xb42zqVMvjQIktKEpTIbCXXyhBPxqGZHqhcOXHs4pXI/GoZ8lE+2NJONRifuBpi9DxC58L0Lw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const source = document.getElementById('code').innerText;
    eval(source);
  </script>
{% endblock %}
