
<!DOCTYPE html>
<html lang="ja">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <h1>STUDENT {{ id }} on {{ time }}</h1>
  <code>
    <pre>
  function setup() {
    createCanvas(400, 400);
    background(220);
    noLoop();
  }

  function draw() {
    fill('red');
    circle(width/2, height/2, 120);
  }
    </pre>
  </code>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js" integrity="sha512-NxocnqsXP3zm0Xb42zqVMvjQIktKEpTIbCXXyhBPxqGZHqhcOXHs4pXI/GoZ8lE+2NJONRifuBpi9DxC58L0Lw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/static/js/sketch.js"></script>
</body>
</html>
