<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <h1>Student {{ id }}</h1>
    <div id="data">
    <table>
      <thead>
        <tr>
          <td>Executed at</td>
          <td>Source Line of Code</td>
          <td>AST Edit Distance</td>
          <td>Link to source code</td>
        </tr>
      </thead>
      <tbody>
      {% for d in data %} 
        <tr>
          <td>{{ d.time }}</td>
          <td>{{ d.sloc }}</td>
          <td>{{ d.ed }}</td>
          <td><a href="/student/{{ id }}/{{ d.time.replace(':', '_') }}">source</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </body>
</html>
